.play-button {
	width: 20%;
	height: 80px;
	cursor: pointer;
}

.play-button:hover {
	transition: 0.2s;
	opacity: 0.8;
}

.play-button:not(:hover) {
	transition: 0.2s;
}

.audio-file {
	display: none;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
